/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* White background color */
}

h1 {
  text-align: left; /* Align the website name to the left */
  color: #333; /* Dark gray text color */
  margin: 10px; /* Add some margin for spacing */
}

h2 {
  text-align: center;
  color: #333; /* Dark gray text color */
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  position: relative; /* Add position relative to make positioning of button relative to this */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #fff; /* White background color for product items */
  max-width: 200px; /* Adjusted maximum width of product items */
}

.product-item img {
  max-width: 100px;
  max-height: 100px;
}

.product-item button {
  width: 100%; /* Make the button fill the width of the product item */
  position: relative; /* Position the button absolutely */
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 0; /* Position the button to the left */
}
